/*Universal Themes*/
html{
  font-size: 18px;
}

body{
  font-family: Helvetica;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}
/*Header*/

header{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
}

header img{
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header span{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
